* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: orange;
}
body .container-1 {
  width: 100%;
  height: 70vh;
  background-color: white;
  overflow: hidden;
}
body .container-1 .nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  height: 8vh;
  background-color: rgb(255, 255, 255);
}
body .container-1 .nav .nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-weight: bold;
}
body .container-1 .nav .nav-icons a {
  text-decoration: none;
}
body .container-1 .hero {
  width: 100%;
  height: 40vh;
  font-size: 2.5rem;
  padding: 5rem 5rem;
}
body .container-1 .hero .pop-up {
  width: 100%;
  height: 100%;
  font-size: 2rem;
}
body .container-2 {
  width: 100%;
  background-color: white;
  padding: 3rem 3rem;
  display: flex;
  gap: 2rem;
}
body .container-2 .pics-level-1 {
  width: 30%;
  min-height: 50vh;
}
body .container-2 .pics-level-1 .pic-1 {
  width: 100%;
  height: 40vh;
  margin-bottom: 1rem;
  position: relative;
}
body .container-2 .pics-level-1 .pic-1 .overally {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 700;
  background-color: black;
  position: absolute;
  top: 0;
  left: -2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
body .container-2 .pics-level-1 .pic-1 .overally:hover {
  background-color: rgb(255, 155, 171);
  opacity: 1;
}
body .container-2 .pics-level-1 .pic-1 img {
  width: 100%;
  height: 100%;
  z-index: 10;
}
body .container-2 .pics-level-2 {
  width: 30%;
  min-height: 40vh;
}
body .container-2 .pics-level-2 .pic-1 {
  width: 100%;
  height: 50vh;
  margin-bottom: 1rem;
  position: relative;
}
body .container-2 .pics-level-2 .pic-1 .overally {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 700;
  background-color: black;
  position: absolute;
  top: 0;
  margin-top: 1rem;
  left: -2rem;
  bottom: 2rem;
  right: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
body .container-2 .pics-level-2 .pic-1 .overally:hover {
  background-color: rgb(255, 155, 171);
  opacity: 1;
  padding: 2rem;
}
body .container-2 .pics-level-2 .pic-1 img {
  width: 100%;
  height: 100%;
}
body .container-2 .pics-level-3 {
  width: 30%;
  min-height: 50vh;
}
body .container-2 .pics-level-3 .pic-1 {
  width: 100%;
  height: 50vh;
  margin-bottom: 1rem;
  position: relative;
}
body .container-2 .pics-level-3 .pic-1 .overally {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 700;
  background-color: black;
  position: absolute;
  top: 0;
  margin-top: 1rem;
  left: -2rem;
  right: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
body .container-2 .pics-level-3 .pic-1 .overally:hover {
  background-color: rgb(255, 155, 171);
  opacity: 1;
  padding: 2rem;
}
body .container-2 .pics-level-3 .pic-1 img {
  width: 100%;
  height: 100%;
}
body .container-3 {
  width: 100%;
  height: 70vh;
  background-image: url(/assets/image-14.png);
}
body .container-3 .title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 4rem;
  font-size: 3rem;
}
body .container-3 .search-bar {
  display: flex;
  margin: 0 auto;
  width: 40%;
}
body .container-3 .search-bar input {
  width: 90%;
  padding: 1.5rem;
  margin: 0 auto;
  border-color: rgb(255, 84, 141);
}
body .container-3 .search-bar button {
  width: 13%;
  background-color: rgb(252, 144, 162);
  box-shadow: none;
}
body .container-4 {
  width: 100%;
  height: 50vh;
  background-color: rgb(31, 30, 30);
  display: flex;
}
body .container-4 .footer {
  color: white;
  display: flex;
  padding: 6rem 6rem;
  gap: 10rem;
}/*# sourceMappingURL=style.css.map */